<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup] ="AngForm" novalidate >
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" formControlName="first_name" [(ngModel)]="customer.name.first">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="last_name" [(ngModel)]="customer.name.last" >
        </div>
        <div class="form-group" >
          <label>Birthday</label>
          <div class= "input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate" [maxDate]="maxDate"
              formControlName="dob" [(ngModel)]="dob" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon" (click)="d.toggle()" >
              DOB
            </div>
          </div>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div *ngFor="let gender of genders">
                <label>
                <input type="radio" formControlName="gender" [(ngModel)]="customer.gender" [value]="gender.value">
                {{gender.display}}
                </label>
            </div>
        </div>
        <div class="form-group">
          <label for="first_name">Customer lastContact</label>
          <input type="datetime-local" formControlName="last_contact" [(ngModel)]="lastContact">
        </div>
        <div class="form-group">
          <label for="lifetime">Customer Lifetime</label>
          <input type="number" formControlName="lifetime" [(ngModel)]="customer.customerLifetimeValue">
        </div>
        <div class="form-group">
        <button (click)="updateCustomer()" [disabled]="AngForm.pristine || AngForm.invalid" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
